@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-image: url('/Background.png');
  /* height: 100%; */
}

body {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  /* margin: 0; */
  /* overflow: hidden; */
}
@media screen and (max-width: 700px) {
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../src/assets/Fonts/Inter-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: 'KyivType';
  src: url('../src/assets/Fonts/KyivTypeTitling-VarGX.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
